body {
  background-image: url("images/mountains.jpg");
  background-color: #22444D;
  background-size: cover;
}

.navMenu {
  background: transparent;
  margin-top: 10px;
  text-align: right;
}

.navMenu a {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding: 14px 24px;
  text-transform: uppercase;
}
