@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:900&display=swap');

.profile-container {
  text-align: center;
}

.profile-container h1 {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 60px;
}

.profile-container h3 {
  color: white;
  margin-top: -30px;
  letter-spacing: 2px;
}

.social-media-icons .git {
  background-color: white;
  border-radius: 5px;
  padding-left: 3px;
  padding-right: 3px;
}

.social-media-icons .twitter {
  background-color: white;
  border-radius: 5px;
  padding-left: 3px;
  padding-right: 3px;
}

.social-media-icons .linkedin {
  background-color: white;
  border-radius: 5px;
  padding-left: 3px;
  padding-right: 3px;
}

.github-icon {
  font-size: 50px;
  color: #404040;
  padding: 20px;
}

.github-icon:hover {
  font-size: 60px;
}

.twitter-icon {
  font-size: 50px;
  color: #55ACEE;
  padding: 20px;
}

.twitter-icon:hover {
  font-size: 60px;
}

.linkedin-icon {
  font-size: 50px;
  color: #0e76a8;
  padding: 20px;
}

.linkedin-icon:hover {
  font-size: 60px;
}
