.projects {
  text-align: center;
  padding: 10px;
  margin-top: -10px;
}

.projects h1 {
  text-transform: uppercase;
  letter-spacing: 6px;
  color: white;
}

.projects h3 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.projects button {
  font-size: 14px;
  background-color: #60858f;
  margin-top: 15px;
  margin-left: 60px;
  margin-right: 60px;
  border: 1px solid white;
}

.projects button:hover {
  background-color: #659b9c;
}

.links {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  word-spacing: 10px;
}

.links a {
  text-decoration: none;
  color: #f2f2f2;
}

.links a:hover {
  color: #3297a8;
}

.project-box h1 {
  color: #f2f2f2;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.project-box h3 {
  text-align: center;
}

.project-box h4 {
  line-height: 1.5;
}

.project-box {
  background-color: #2b3f45;
  opacity: 0.92;
  padding: 16px;
  border-radius: 8px;
  color: #f2f2f2;
}

.reel2real {
  height: 400px;
}

.renecades {
  height: 400px;
}

.itineraryhub {
  height: 400px;
}

.ihprofile {
  height: 400px;
}

.ih-images {
  text-align: center;
}
